.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}

.col {
    flex-basis: 22%;
    margin: 5px;
  }

  @media screen and (min-width: 481px) and (max-width: 1200px) {
    body {
        background-color: deepskyblue;
    }

    .col {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: rgb(192, 216, 224);
    }

    .col {
        flex-basis: 95%;
    }
}
